{% extends 'core/base.html' %}

{% block content %}
    <h3>Clases Programadas</h3>
    <div style="display: flex; flex-wrap: wrap; margin-bottom: 10px;">
        {% for aula in aula1 %}
            <div style="margin-right: 20px; margin-bottom: 10px;">
                <strong>Aula:</strong>
                <form action="{% url 'sesion_online' aula.aula_id %}" method="get">
                    {% csrf_token %}
                    <button type="submit">Entrar a {{ sesion.nombre_sesion }}</button>
                </form>
                <br>
                <strong>Fecha:</strong> {{ sesion.fecha_inicio }}<br>
                <strong>ID de clase:</strong> {{ sesion.sesion_id }}<br>
                <strong>Profesor:</strong> {{ sesion.user }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
