{% extends 'core/base.html' %}

{% block content %}
    {% if error %}
        <p style="color:red;">{{ error }}</p>  <!-- Mostrar el mensaje de error si lo hay -->
    {% endif %}

    <form action="/login/" method="POST">
        {% csrf_token %}

        <!-- Cambiar el label del campo username a 'Documento' -->
        <div>
            <label for="full_name">Nombre Completo:</label>
            {{ form.username }}
        </div>

        <div>
            <label for="id_password">Contraseña:</label>
            {{ form.password }}
        </div>

        <button type="submit">
            Login
        </button>
    </form>
{% endblock %}