{% extends 'core/base.html' %}

{% block content %}
    <h3>Clases Programadas</h3>
    <div style="display: flex; flex-wrap: wrap; margin-bottom: 10px;">
        {% for aula in aula1 %}
            <div style="margin-right: 20px; margin-bottom: 10px;">
                <strong>Aula:</strong>
                <form action="{% url 'aula_online' aula.aula_id %}" method="get">
                    {% csrf_token %}
                    <button type="submit">Entrar a {{ aula.nombre_aula }}</button>
                </form>
                <br>
                <strong>Fecha:</strong> {{ aula.fecha_inicio }}<br>
                <strong>ID de clase:</strong> {{ aula.aula_id }}<br>
                <strong>Profesor:</strong> {{ aula.user }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
